.loader{
    height: 100vh;
    .d-block{
        .fa-hands-helping{
            color: #DC143C;
            margin: 5px;
            font-size: 60px;
        }
        span{
            font-size: 60px ;
            letter-spacing: 1px;
            font-family: 'Lobster';
        }
    }
    
}