.bsignup{
    margin-top: 30px;
    .row{
        margin-top: 10px;
        img{
            height : 400px
        }
        .b_form{
            padding: 20px;
            .error-msg{
                padding: 5px;
                color: red;
                
            }
        }
    }
}